/*  CSS Document for index.html 
 	CSS for Jay Vyas's website 
  
Title:          main.css 
Browser(s):     All  
  
Author:         Jay Vyas 
Created:        12.24.2014 

*/
/************************** GLOBAL ******************************/
* { 
    margin: 0 auto 0 auto; /* GLOBAL RESET */ 
    padding: 0; 
}

html {
	font-family: 'Bitter', sans-serif;
}

a:link, a:visited {
	text-decoration: none;
    color: #FFFFFF;
    display: block;
    width: 150px;
    padding: 6px;
}

a:hover, a:active {
    color: #FF0000;
}

/************************** TOP BAR (NAVIGATION) ******************************/
#nav_content li {
	display: inline;
	float: right;
}

#nav_content { 
	position: fixed;
	background:#CCCCCC url(images/bg_nav.jpg);
	width: 100%;
	font-size:125%;
    line-height: 30px;
    height: 40px;
} 

#nav_content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    overflow: hidden;
}

/************************** HEADER INTRO. (JayVyas, CE) ******************************/
#top_content { 
	padding-top: 40px;
	background: url(images/arches.png) ;
	color:#302C2C;
	height:350px;
}

h1 {
	padding-top: 1%;
    letter-spacing: 4px;
	font-size: 8.0em;
	text-align: center;
	line-height: 150%;
}

h3 {    
	letter-spacing: 2px;
	font-size: 3em;
	text-align: center;
}

/************************** BOTTOM BAR (NAVIGATION) ******************************/
#footer_nav {
	background: url(images/bg_nav.jpg);
	color: #FFFFFF;
	width: 100%;
	font-size:125%;
    line-height: 40px;
    height: 40px;

}

#footer_nav p {
	position: relative;
	text-align: right;
    right:100px;
}

/************************** INTRO. PARAGRAPH ******************************/
h4 {
	font-size: 1.5em;
}

#header_intro {
	background-color: #262424;
	color: #FFFFFF;
	height: 350px;
}

#self_pic {
	position: relative;
	top: 62.5px;
	padding-left: 12%;
}

#intro {
	width: 50%;
	position: relative;
	top: -150px;
	left: 15%;
	font-size: 14px;
}

/************************** CONTACT ME ******************************/
#footer a{
	display: inline;
	padding-right: 25px;
	padding-left: 25px;
}

#footer {
	text-align: center;
}